#container {
  text-align: left;
  padding: 10%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#container img {
  margin: 0%;
  padding-top: 50px;
  padding-left: 85px;

}

#container ion-button {
  margin-top: 20px;
  padding-left: 45px;
}

#container ion-list {
  margin-top: 20px;
}